.saimun {
  background-image: url('./image/001.jpg');
  width: 100%;
  height: 100%;
}
 .s_div {
  width: 100%;
  height: 1000px;
 }

 h1 {
  font-size: 80px;
  font-weight: 700;
 }

 .row_02 {
  height: 170px;
 }